.sec__four{
    width: 100vw;
    height: 100vh;
    background-color: white;
    background-image: url("../../images/for-index-page/for-ques-block.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.ques__back{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
}
.ques__title{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    z-index: 2;
}
.ques__title h2{
    font-family: raleway_c,sans-serif;
    font-size: 2rem;
}
.ques__body{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.ques__cards{
    width: 17.5%;
    height: 50%;
    border: 2px black solid;
    background-color: transparent;
    backdrop-filter: blur(4px);
    border-radius: 20px;
    position: relative;
    z-index: 2;
}
.ques__card__title{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Bahnschrift,sans-serif;
    font-weight: bold;
    text-align: center;
}
.ques__card__title p{
    font-family: raleway_c, sans-serif;
    padding: 0 5%;
    line-height: 1.5rem;
    font-size: calc(12px + 16 * (100vw - 1280));
}
.ques__card__link{
    width: 100%;
    height: 30%;
    text-align: center;
}
.ques__card__link a{
    text-decoration: none;
    color: white;
    font-family: raleway_c,sans-serif;
    font-size: calc(12px + 8 * (100vw - 1280));
}
.ques__footer{
    width: 100%;
    height: 10%;
    text-align: center;
    position: relative;
    z-index: 2;
}
.ques__footer a{
    color: white;
    font-family: raleway_c,sans-serif;
    transform: translate(50%,50%);
    text-decoration: none;
    border: 1px black solid;
    padding: 0.5% 2.5%;
}