.subscribe{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: white;
}
.subscribe__birds{
    position: absolute;
    top: .5%;
    left: 2.5%;
    width: 30%;
    height: 40%;
    transition: all 0.4s ease-in-out;
    transform: translateX(50%) translateY(50%);
}
.subscribe__birds._active{
    transform: translateY(0) translateX(0);
}
.subscribe__birds img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.subscribe__block{
    width: 62.5%;
    height: 35%;
    background-image: url("../../images/for-subscribe.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    background-position: center;
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    flex-direction: row;
}
.sub__back{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.subscribe__text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 3;
}
.subscribe__text > *{
    margin: 0 5%;
}
.subscribe__text h4{
    font-size: calc(12px + 8 * (100vw / 1280));
    font-family: "Roboto Light", sans-serif;
}
.subscribe__text p{
    font-size: calc(12px + 4 * (100vw / 1280));
    font-family: raleway_c, sans-serif;
    margin-right: 15%;
}
.subscribe__form{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
}
.subscribe__form > label{
    margin-top: 2.5%;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe__form > label > input{
    width: 90%;
    height: 50%;
    padding-left: 2.5%;
    background: transparent;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    font-family: raleway_c, sans-serif;
    font-size: 1rem;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
}
.subscribe__form > label > input::placeholder{
    color: white;
}
.subscribe__form > div{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.subscribe__form > div > p{
    margin: 0 7.5%;
    font-family: raleway_c, sans-serif;
    font-size: calc(12px + 4 * (100vw / 1280));
}
.subscribe__form > div > p > a{
    text-decoration: #ececec underline;
    color: #ececec;
    font-size: calc(12px + 4 * (100vw / 1280));
}
.subscribe__form > div > button{
    margin-right: 5%;
}
.button-29 {
    align-items: center;
    appearance: none;
    /*background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);*/
    background: transparent;
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding: 0 7.5%;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 14px;
}
.button-29:focus {
    box-shadow: #dbdbe7 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #dcdff5 0 -3px 0 inset;
}
.button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #c3c7e7 0 -3px 0 inset;
    transform: translateY(-2px);
}
.button-29:active {
    box-shadow: #cccfe8 0 3px 7px inset;
    transform: translateY(2px);
}