.sec-1{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: relative;
}
.sec-1 > div img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    transform: translate(-50%,-50%);
}
.cards{
    width: 45%;
    height: 100%;
    position: relative;
    transition: all 0.4s ease-in;
    display: flex;
    flex-direction: column;
    margin-right: 2.5%;
}
.sec-one-img{
    width: 55%;
    height: 100%;
    position: relative;
    transition: all 0.8s ease-in-out;
    transform: translateX(-100%);
}
.sec-one-img._active{
    transform: translateX(0);
}
.divined{
    width: 100%;
    margin-top: 15%;
    margin-bottom: 5%;
    height: 5px;
    background-color: #ececec;
    transform: scale(0);
    transition: all 0.9s ease-in-out;
}
.divined._active{
    transform: scale(1);
}
.cards__title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2rem;
    font-family: raleway_c,sans-serif;
}
.cards__body{
    margin-top: 2.5%;
    font-size: 1rem;
    font-family: "Roboto Light", sans-serif;
    line-height: 2rem;
}
.cards__body p{
    margin: 2.5% 0;
}
.for-sec-one-up{
    position: absolute;
    top: 5%;
    right: 5%;
    width: 2.5%;
    height: 5%;
    z-index: 4;
    background-color: transparent;
    border: 2px black solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: pulse 2s infinite;
}
.for-sec-one-up img{
    width: 80%;
    height: 80%;
    object-fit: contain;
    transform: rotate(270deg);
    cursor: pointer;
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(0,0,0, 0.4);
        box-shadow: 0 0 0 0 rgba(0,0,0, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(0,0,0, 0);
        box-shadow: 0 0 0 10px rgba(0,0,0, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(0,0,0, 0);
        box-shadow: 0 0 0 0 rgba(0,0,0, 0);
    }
}
#second-step{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 97.5%;
    height: 100%;
    z-index: 5;
    border: 2px red solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}